.button-info {
    background-color: #fff;
    border-radius: 5px;
    color: #6b7385;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    line-height: 24px;
    padding: 12px 30px;
    text-align: left;
}

.sorting-info {
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #6b7385;
    line-height: 24px;
    padding: 30px 30px 30px 0px;
}

.sorting-buttons ul {
    color: #6b7385;
    display: flex;
    flex-wrap: wrap;
    line-height: 24px;
    padding: 0px 12px;
}

.button-cover {
    padding-left: 10px;
}
